@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');
/* ---------------------------- ROOT --------------------- */
:root{
  /* Paleta de colores : */
  --color-principal:#63421E;
  --color-secundario:#bca177;
  --color-terciario:#D5AC8C;

  --color-blanco:#ffffff;
  --color-negro:#000000;
}

/* La fuente a utilizar es MONSERRAT con sus pesos: 100,200,300,400,600,700 */


/* ---------------------------- ESTILOS DE <DIV> APP --------------------- */

.App{
  background-color: var(--color-negro);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: 'Montserrat', sans-serif;
}

.Seccion{
  display: flex;
  height: calc(100vh/9);
  width: 100%;
  background-color: rgb(70, 81, 90,20%);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  color: var(--color-opcional);
}

/* ---------------------------- ESTILOS DE <HEADER> --------------------- */

.App-header {
  background-color: var(--color-negro);
  display: flex;
  flex-direction: column;
}


.App-logo {
  height: 2vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******** COMPONENTE NAVEGACION : NOMBRE PERSONA *********/


/* ------------------------- ESTILOS DE <MAIN> ------------------------------- */


/******** COMPONENTE ENCABEZADO : NOMBRE PERSONA *********/

/******** COMPONENTE SECCIONES : NOMBRE PERSONA *********/

/******** COMPONENTE PRODUCTO PRINCIPAL : NOMBRE PERSONA *********/

/******** COMPONENTE PRODUCTO SECUNDARIO : NOMBRE PERSONA *********/

/******** COMPONENTE SECCION SECUNDARIA : NOMBRE PERSONA *********/

/******** COMPONENTE FORMULARIO CONTACTO : NOMBRE PERSONA *********/

/******** COMPONENTE RECETAS : DAVID GUTIERREZ *********/

#contenedor-recetas{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;

}

.carta{
  padding: 0px;
  margin: 0px;
  background-color:var(--color-principal);
  display: flex;
  flex-direction: row;
  width: 700px;
  border-radius: 0px;
  border: 0px;
}



.bodyCard{
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textBodyTitulo{
  height: 70px;
  margin: 0px;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.textoDescripcion{
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 200;
}

.textBodyCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 170px;
  margin: 0px;
  padding: 1rem;
}

.btnCardContenedor{
  height: 60px;
  display: flex;
  justify-content:space-around;
  padding: 15px;
}
.btnCard{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-principal);
  border-radius: 0px;
  border: 1px solid var(--color-blanco);
  font-family: 'Montserrat', sans-serif;
}

.btnCard:hover{
  background-color: var(--color-secundario);
  color: var(--color-principal);
  border: 0px;
  font-weight: 600;
  box-shadow: 1px 2px 1px var(--color-terciario);
}


/* ------------------------- ESTILOS DE <FOOTER> ------------------------------- */

/******** COMPONENTE FOOTER : NOMBRE PERSONA *********/



.firmas{
  color:var(--color-secundario)
}
.contenedor-firmas{
  display: flex;
  flex-direction: row;
  font-size: xx-small;
  justify-content: center;
}

.log{
  height: 1vmin;
}

.nombres{
  margin-left: 5px;
  margin-right: 5px;  
  align-content: center;
  align-self: center;

}
.links{
  text-decoration: none;
  color: var(--color-secundario);
}
