@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');
/* ---------------------------- ROOT --------------------- */
:root{
  /* Paleta de colores : */
  --color-principal:#63421e;
  --color-secundario:#bca177;
  --color-terciario:#D5AC8C;
  

  --color-blanco:#ffffff;
  --color-negro:#000000;
}

/* La fuente a utilizar es MONSERRAT con sus pesos: 100,200,300,400,600,700 */

.titulos{
  font-size: 40px;
}


/* ---------------------------- ESTILOS DE <DIV> APP --------------------- */

.App{
  background-color: var(--color-negro);
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: 'Montserrat', sans-serif;
}

.Seccion{
  display: flex;
  height: calc(100vh/9);
  width: 100vw;
  margin-bottom: 10px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  color: var(--color-opcional);
}

.Seccion-fondo{
  background-color: rgb(70, 81, 90,20%);
}

.App-main{
  width: 100%;
  margin: 0px;
}

/* ---------------------------- ESTILOS DE <HEADER> --------------------- */

.App-header {
  background-color: var(--color-negro);
  display: flex;
  flex-direction: column;
}


.App-logo {
  height: 2vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******** COMPONENTE NAVEGACION : NOMBRE PERSONA *********/


/* ------------------------- ESTILOS DE <MAIN> ------------------------------- */


/******** COMPONENTE ENCABEZADO : NOMBRE PERSONA *********/

/******** COMPONENTE SECCIONES : NOMBRE PERSONA *********/

/******** COMPONENTE PRODUCTO PRINCIPAL : NOMBRE PERSONA *********/

/******** COMPONENTE PRODUCTO SECUNDARIO : NOMBRE PERSONA *********/

/******** COMPONENTE SECCION SECUNDARIA : Gisela Colmeiro *********/

.calidadiso img{
  margin-left: 33%;
}

/******** COMPONENTE FORMULARIO CONTACTO : SOFIA FERNANDEZ *********/

.form-group {
  padding-left: 20%;
  padding-right: 20%;
}
.form {
  background-color: rgb(248, 250, 252);
}
.form p {
  color: var(--color-principal);

}
#text-name{
  color:rgb(248, 250, 252);
} 
label {
  color:var(--color-principal);
}

.form-control {
  background-color:var(--color-principal);
  border-radius: 0%;
  color:rgb(248, 250, 252);
}
.form-control:active,
.form-control:focus {
  background-color:  rgba(40, 38, 38, 0.9); 
  color:rgb(248, 250, 252);
}
.contenedor-btn-form {
  align-items: center;
  justify-content: center;
}
.btnForm {
  background-color: rgb(248, 250, 252) !important;
  border: 1px solid var(--color-principal) !important;
  color: var(--color-principal) !important;
  
}
/******** COMPONENTE RECETAS : DAVID GUTIERREZ *********/

#contenedor-recetas{
    width: 100vw;
    height: 350px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.carta{
  padding: 0px;
  margin: 0px;
  background-color:var(--color-principal);
  display: flex;
  flex-direction: row;
  max-width: 700px;
  border-radius: 0px;
  border: 0px;
}

.bodyCard{
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textBodyTitulo{
  height: 70px;
  margin: 0px;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.textoDescripcion{
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 200;
}

.textBodyCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 170px;
  margin: 0px;
  padding: 1rem;
}

.btnCardContenedor{
  height: 60px;
  display: flex;
  justify-content:space-around;
  padding: 15px;
}

.btnCard{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-principal);
  border-radius: 0px;
  border: 1px solid var(--color-blanco);
  font-family: 'Montserrat', sans-serif;
}

.btnCard:hover{
  background-color: var(--color-secundario);
  color: var(--color-principal);
  border: 0px;
  font-weight: 600;
  box-shadow: 1px 2px 1px var(--color-terciario);
}

.swiper-wrapper{
  padding-bottom: 40px;
  margin: 0px;
}
.swiper-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0px !important;
  margin: 0px;
}

/* sobre modal */
.modal-content{
  min-width: 600px;
  border-radius: 0px !important;
  border: 0px;
  background-color: var(--color-principal);
  color: var(--color-blanco);
  border: 10px solid rgba(211, 170, 93, 0.233);
}
.modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
.modal-detalle{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  font-size: 0.9rem;
  font-weight: 100;

}
.modal-body-superior{
  display: flex;
  flex-direction: row;
}
.modal-video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal-video h5{
  font-weight: 200;
}
#iframe{
  width: 90%;
}

/* ------ MEDIA QUERY -----*/

@media (max-width: 790px) {

  #contenedor-recetas{
    width: 100vw;
    height: 350px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

  .swiper-container {
    width: 100% !important;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  /* paginacion */
  .swiper-pagination{
    display: none;
  }

  /*carta*/
  .carta{
    padding: 0px;
    margin: 0px;
    background-color:var(--color-principal);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-radius: 0px;
    border: 0px;
  }

  .bodyCard{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--color-principal) !important;

  }
  .imgCard{
    width: 100%;
    position: relative;
  }
  #imgCard{
    width: 100%;
    position: relative;
  }
  .textoDescripcion{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .textBodyCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color:rgb(213, 172, 140,70%);
    border-radius: 15px;
  }
  .textBodyTitulo{
    height: 70px;
    margin: 0px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
  }

  /*sobre modal*/

  .modal-video{
    display: none;
  }

  .modal-90w{
    max-width: none !important;
    width: 90%;
}

  .modal-body-superior{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .modal-content{
    border-radius: 0px !important;
    border: 0px;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: 10px solid rgba(211, 170, 93, 0.233);
  }
  .modal-detalle{
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
    font-size: 0.9rem;
    font-weight: 100;
  
  }
}

/* ------------------------- ESTILOS DE <FOOTER> ------------------------------- */

/******** COMPONENTE FOOTER : Gisela Colmeiro *********/

/*Footer*/
#footer{
  color: var(--color-secundario)
}

#footer h5{
  color: var(--color-titulos)
}

#footer img{
  margin-top: 40px;
}

/* Firmas */
.contenedor-firmas{
  display: flex;
  flex-direction: row;
  font-size: xx-small;
  justify-content: center;
}

.log{
  height: 1vmin;
}

.nombres{
  margin-left: 5px;
  margin-right: 5px;  
  align-content: center;
  align-self: center;
}

.links{
  text-decoration: none;
  color: var(--color-secundario);
}

a {
  position: relative;
}

.img-mostrar {
  position: absolute;
  border-radius: 10%;
  border: 2px solid #000000;
  bottom: 100%;
  right: 5%;
  width: 70px;
  display: none;
}

a:hover .img-mostrar {
  display: block;
}

/******BREAKPOINT MAX-WIDTH BOOTSTRAP *******/

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .btnForm {
      width: 220px ;
    }
}


/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */