@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700&display=swap');
/* ---------------------------- ROOT --------------------- */
:root{
  /* Paleta de colores : */
  --color-principal:#63421e;
  --color-secundario:#bca177;
  --color-terciario:#D5AC8C;
  --color-blanco:#ffffff;
  --color-negro:#000000;
}

/* La fuente a utilizar es MONSERRAT con sus pesos: 100,200,300,400,600,700 */

.titulos{
  font-size: 40px;
}

/* ---------------------------- ESTILOS DE <DIV> APP --------------------- */

.App{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(99,69,30,1) 26%, rgba(99,66,30,1) 92%, rgba(0,0,0,1) 100%);
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.Seccion{
  display: flex;
  height: calc(100vh/9);
  width: 100vw;
  margin-bottom: 10px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  color: var(--color-opcional);
}

.Seccion-fondo{
  background-color: rgb(70, 81, 90,60%);
}

.App-main{
  width: 100%;
  margin: 0px;
}

/* ---------------------------- ESTILOS DE <HEADER> --------------------- */

.App-header {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 2vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/******** COMPONENTE NAVEGACION : Sofia Fernandez *********/
/*estilo momentaneo*/
#Navegacion{
  position: absolute;
  top:5%;
  left: 15%;
  width: 70%;
  height: 50px;
  background: transparent !important;
}

/* ------------------------- ESTILOS DE <MAIN> ------------------------------- */


/******** COMPONENTE ENCABEZADO : Gisela Colmeiro *********/
#portada{
  background-image: url(../public/img/imagenPortada.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5%;
  height: 100vh;
  width: 99vw;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  padding-right: 5%;
  padding-top: 10%;
  color: rgb(248, 250, 252);
}

#btn-presentacion{
  font-size: 20px;
  text-align: center !important;
}

#btn-presentacion:hover{
  border:none;
  color: var(--color-negro) !important;
  transform: translateY(4px);
  background-color: var(--color-secundario);
  box-shadow: 0px 0px 0px var(--color-secundario);
}

/*sobre sweet alert*/
.swal2-show{
  border-radius: 0px !important;
  border: 5px solid rgba(211, 170, 93, 0.238) !important;
}
.swal2-confirm{
  color: #bca177 !important;
  border-radius: 0px !important;
  border: 2px solid var(--color-secundario) !important;
}

.container-text{
  position: absolute;
  margin-left: 20%;
}

.tituloPresentacion{
  font-size: 30px;
  margin-left: 10%;
  margin-top: 10%;
}

.inicio{
  margin: 0;
  width: 30rem;
  font-size: 20px;
}

.fondoTransparente{
  background-color: transparent;
  border: none;
}

/******** COMPONENTE SECCIONES : Juan Gabriel Chaves *********/

.cards-container{
  justify-content: center;
  background-color: rgb(70, 81, 90,20%);
  width: 99vw;
  overflow: hidden;
}

.card1,.card2,.card3{
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.card1:hover, .card2:hover, .card3:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    margin: 10px;
    transition: all 0.7s linear;
  }
  
  .card-title-h5{
    color: var(--color-terciario);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .btn{
    color: var(--color-terciario) !important;
    border-color:var(--color-terciario) !important;
  }

  .image{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .image:hover{
    transform: scale(1.1);
  }

  .detail-container{
    text-align: center;
    background-color: var(--color-negro);
  }

  .detail-text{
    color: #FFFAF4;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
  }

  .secondary-text{
    color: var(--color-terciario);
  }

  .cards-container-body {
    padding: 2rem 0 !important;
  }
 
  .img-container {
    overflow: hidden;
  }

/******** COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/

    .imgLogo {
      height: 40px;
      width: 40px;
    }

    .modalBody{            
      flex-direction: row !important;        
    }

    .imgPrincipal {
      height: 100vh;
    }
    .colorTerciario{
      color: var(--color-terciario);
    }

    /* ------ Modal ------ */
    .cardPromo:hover{
      opacity: 0.6;      
    }

    .cardContenido a:hover{
      color:var(--color-terciario); 
    }

    .btnClose:hover{      
      background-color: var(--color-blanco);
    }

/******** COMPONENTE SECCION SECUNDARIA : Gisela Colmeiro *********/

#SeccionSecundaria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/******** COMPONENTE FORMULARIO CONTACTO : Sofia Fernandez *********/
.contenedor-form{
  height: 500px;
}
.form-group {
  padding-left: 20%;
  padding-right: 20%;
}

.form {
  background-color: rgb(248, 250, 252);
}

.form p {
  color: var(--color-principal);
}

#text-name{
  color:rgb(248, 250, 252);
} 

label {
  color:var(--color-principal);
}

.form-control {
  background-color:var(--color-principal);
  border-radius: 0%;
  color:rgb(248, 250, 252);
}

.form-control:active,
.form-control:focus {
  background-color:  rgba(40, 38, 38, 0.9); 
  color:rgb(248, 250, 252);
}

.contenedor-btn-form {
  align-items: center;
  justify-content: center;
}

.btnForm {
  background-color: rgb(248, 250, 252) !important;
  border: 1px solid var(--color-principal) !important;
  color: var(--color-principal) !important;  
}

/******** COMPONENTE RECETAS : David Gutierrez *********/

#contenedor-recetas{
    width: 100vw;
    height: 350px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta{
  padding: 0px;
  margin: 0px;
  background-color:var(--color-principal);
  display: flex;
  flex-direction: row;
  max-width: 700px;
  border-radius: 0px;
  border: 0px;
}

.bodyCard{
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textBodyTitulo{
  height: 70px;
  margin: 0px;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.textoDescripcion{
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 200;
}

.textBodyCard{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 170px;
  margin: 0px;
  padding: 1rem;
}

.btnCardContenedor{
  height: 60px;
  display: flex;
  justify-content:space-around;
  padding: 15px;
}

.btnCard{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-principal);
  border-radius: 0px;
  border: 1px solid var(--color-blanco);
  font-family: 'Montserrat', sans-serif;
}

.btnCard:hover{
  background-color: var(--color-secundario);
  color: var(--color-principal);
  border: 0px;
  font-weight: 600;
  box-shadow: 1px 2px 1px var(--color-terciario);
}

.swiper-wrapper{
  padding-bottom: 40px;
  margin: 0px;
}

.swiper-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0px !important;
  margin: 0px;
}

/* sobre modal */
.modal-content{
  min-width: 600px;
  border-radius: 0px !important;
  border: 0px;
  background-color: var(--color-principal);
  color: var(--color-blanco);
  border: 10px solid rgba(211, 170, 93, 0.233);
}

.modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.modal-detalle{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  font-size: 0.9rem;
  font-weight: 100;
}

.modal-body-superior{
  display: flex;
  flex-direction: row;
}

.modal-video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-video h5{
  font-weight: 200;
}

#iframe{
  width: 90%;
}

#descargable{
  background-image: url("https://i.postimg.cc/PJPk8x8Y/Recetario-Plantilla.png");
  width: 557px;
  height: auto;
}

.receta-texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-blanco);
  margin-top: 40px;
  margin-bottom: 30px;
}

.receta-texto h1{
  text-align: center;
  width: 100%;
  padding-left: 110px;
  padding-right: 60px;
  white-space: nowrap;
  font-size: 170%;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.separador{
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.pasos{
  align-self: flex-start;
  margin-left: 60px;
  margin-right: 60px;
}

/* ------ MEDIA QUERY -----*/

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 
  /******** Media Query: COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
 .imgPrincipal{
   height: auto;
   width: auto;
 }
}

@media (max-width: 790px) {

   /******** Media Query: COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
   .cardPrincipal{
    width: auto;        
  }

  .cardContenido h2{
    font-size: 20px;
  }

  .cardContenido h1{
    font-size: 32px;
  }

  .imgPrincipal{
    height: auto;
    width: auto;
  }

  .btnClose{
    width: auto;    
  }

  /******** Media Query: FIN DEL COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/

  /******** Media Query: COMPONENTE RECETAS : David Gutierrez *********/
  #contenedor-recetas{
    width: 100vw;
    height: 350px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

  .swiper-container {
    width: 100% !important;
    height: 100%;
    margin: 0px;
    padding: 0px !important;;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  /* paginacion */
  .swiper-pagination{
    display: none;
  }

  /*carta*/
  .carta{
    padding: 0px;
    margin: 0px;
    background-color:var(--color-principal);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-radius: 0px;
    border: 0px;
  }

  .bodyCard{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--color-principal) !important;
  }
  
  .imgCard{
    width: 100%;
    position: relative;
  }
  
  #imgCard{
    width: 100%;
    position: relative;
  }
  
  .textoDescripcion{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .textBodyCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color:rgb(213, 172, 140,70%);
    border-radius: 15px;
  }
  
  .textBodyTitulo{
    height: 70px;
    margin: 0px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
  }

  /*sobre modal*/

  .modal-video{
    display: none;
  }

  .modal-90w{
    max-width: none !important;
    width: 90%;
}

  .modal-body-superior{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  
  .modal-content{
    border-radius: 0px !important;
    border: 0px;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: 10px solid rgba(211, 170, 93, 0.233);
  }
  
  .modal-detalle{
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
    font-size: 0.9rem;
    font-weight: 100;
  
  }

}

/* ------------------------- ESTILOS DE <FOOTER> ------------------------------- */

/******** COMPONENTE FOOTER : Gisela Colmeiro *********/

/*Footer*/
#footer{
  color: var(--color-secundario);
}

#footer h5{
  color: var(--color-titulos)
}

#footer img{
  margin-top: 40px;
}

.iframeMap{
  width: 100px !important;
}

/* Firmas */
.contenedor-firmas{
  display: flex;
  flex-direction: row;
  font-size: xx-small;
  justify-content: center;
}

.log{
  height: 1vmin;
}

.nombres{
  margin-left: 5px;
  margin-right: 5px;  
  align-content: center;
  align-self: center;
}

.links{
  text-decoration: none;
  color: var(--color-secundario);
}

a {
  position: relative;
}

.img-mostrar {
  position: absolute;
  border-radius: 10%;
  border: 2px solid #000000;
  bottom: 100%;
  right: 5%;
  width: 70px;
  display: none;
}

a:hover .img-mostrar {
  display: block;
}

/******BREAKPOINT MAX-WIDTH BOOTSTRAP *******/

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .btnForm {
      width: 220px ;
    }

    /******** Media Query: COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
  .cardPrincipal{
    width: 87%;       
  }

  .cardContenido{
    height: 96%;
    font-size: 15px;
  }

  .cardContenido h1, h2{
    font-size: 20px;
  }

  .imgPrincipal{
    height: auto;
    width: auto;
  }
  /******** Media Query: FIN DEL COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
}

@media (max-width: 426px) {
  /******** Media Query: COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
  .cardPrincipal{
    width: 58%;   
    margin: 20px;     
    margin: 0;
    padding: 0;
  }

  .cardContenido{      
    width: 100%;
    font-size: 12px;  
    border: transparent !important;             
    margin: 0px !important;
    padding: 0px !important;
  }

  .cardContenido h1{
    margin: 3px;
    padding: 0;
    font-size: 18px;
  }

  .cardContenido h2{    
    margin: 0px;
    padding: 0;  
    font-size: 15px; 
  }

  .cardContenido p{
    margin: 3px;
    font-size: 10px;
  }

  .cardContenido a{
    margin: 0px;
    font-size: 12px;
  }

  /******** Media Query: FIN DEL COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/  
  
}

@media (max-width: 376px) {
  /******** Media Query: COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
  .cardPrincipal{
    width: 50%;   
    margin: 0px;           
  }

  .cardContenido{      
    width: 100%;
    font-size: 10px;      
    margin: 0;
    padding: 0;
  }

  .cardContenido h1{
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .cardContenido h2{      
    margin: 0;
    font-size: 12px; 
  }

  .cardContenido p{      
    margin: 0;
    font-size: 10px; 
  }

  .cardContenido a{
    margin: 0px;
    font-size: 10px;
  }
  
  /******** Media Query: FIN DEL COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
}

@media (max-width: 321px) {
  /******** Media Query: COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
  .cardPrincipal{
    width: 47%;
    margin: 5px;
  }

  .cardContenido{      
    width: 100%;
    font-size: 10px;      
    margin: 0;
    padding: 0;
  }

  .cardContenido h1{
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .cardContenido h2{ 
    margin: 0;
    padding: 0;     
    font-size: 11px; 
  }

  .cardContenido p{      
    margin: 0;
    font-size: 9px; 
  }

  .cardContenido a{
    margin: 0px;
    font-size: 9px;
  }
  
  /******** Media Query: FIN DEL COMPONENTE PRODUCTO PRINCIPAL : Daiana Ryan *********/
}


/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
